body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}
h1 {
  font-size: 45px;
}
h1, h2 {
  color: #6a71a3;
}
.icon {
  width: 20px;
  margin: 0 2px 0 2px;
}

.expand-all-container {
  display: flex;
  justify-content: flex-end;
}
.expand-all {
  margin-left: auto;
  margin-right: 0px;
  padding: 10px;
}
.accordion {
  margin: 5px 0 0 0;
  width: 100%;
  padding: 18px;
  font-size: 20px;
  text-align: left;
}
.accordion, .expand-all {
  background-color: #888ebe;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
  box-shadow: 2px 2px #172053;
  border-radius: 5px;
}
.active, .accordion:hover, .expand-all:hover {
  background-color: #6a71a3;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td:last-child .abstract {
  max-width: 850px;
  width: 100%;
  display: block;
  word-break: break-word;
  white-space: pre-line;
}
.talk-title {
  font-weight: bold;
  cursor: pointer;
  width:fit-content;
}

.abstract {
  height: 0px;
  overflow: hidden;
  margin: 0px;
}
.abstract.expanded {
  height: 100%;
  overflow: visible;
}